// Tokyonight Zellij Colors
// Add this file to your `CONFIG_DIR/themes` directory as described here:
// https://zellij.dev/documentation/themes#getting-zellij-to-pick-up-the-theme

themes {
    ${_name} {
        fg "#576d74"
        bg "#ede7d3"
        // Black should match the terminal background color
        // This ensures the top and bottom bars are transparent
        black "#fdf5e2"
        red "#db302d"
        green "#849900"
        yellow "#b28500"
        blue "#268bd3"
        magenta "#d23681"
        cyan "#29a298"
        white "#637981"
        orange "#c94c16"
    }
}

